{% extends "counter/_layout.html" %}

{% block content %}

<div class="exercise-detail">
    <h1>{{ exercise }}</h1>
    <h3>{{ exercise.get_muscule_group_display }} | {{ exercise.get_equipment_display }}</h3>
    <p>{{ exercise.description }}</p>
    <hr>
    <h4>{{ exercise.sets }} sets | {{ exercise.reps }} reps</h4>
    <h4>Weight: {{ exercise.weight }} lbs</h4>
    
    <div class="buttons">
        <a href="{% url 'counter:exercise_update' pk=exercise.pk %}" class="btn edit">Edit</a>
        <a href="{% url 'counter:exercise_delete' pk=exercise.pk %}" class="btn delete">Delete</a>
        <a href="{% url 'counter:list' %}" class="btn return">Save</a>
    </div>

</div>

{% endblock %}